.newChat__form {
  z-index: 1;
  position: sticky;
  background: white;
  top: 0;
  right: 0;
  height: 100%;
  left: 0;
}

.slideIn {
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

.newChat__header {
  background-color: var(--primary-color);
  color: white;
  display: flex;
  align-items: center;
  height: 12vh;
  padding: 5%;
}

.newChat__header > h2 {
  margin-left: 2vw;
}

.newChat__body {
  padding: 10vh 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newChat__body > input {
  background-color: white;
  height: 35px;
  border-radius: 20px;
  border: 2px solid #ededed;
  margin-bottom: 5vh;
  padding: 0 20px;
  outline: none;
  width: 70%;
}

.newChat__body > input:focus {
  background-color: #ededed;
}

.newChat__body > button {
  background-color: var(--primary-color);
  color: white;
  margin: 0 auto;
  margin-top: 5vh;
}

.newChat__body > button:hover {
  color: gray;
}

.newChat__header > .MuiIconButton-root {
  color: white !important;
}
